{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="background-login">
		<div class="conteneur-login">
			<h1 class="titre-login">Connexion</h1>
			<form class="form-login" method="post">
				{% if error %}
					<div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{# <label for="inputEmail"></label> #}
				<input class="input-login" type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				{# <label for="inputPassword"></label> #}
				<input class="input-login" type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button class="btn-submit" type="submit">
					Se connecter
				</button>
			</form>
		</div>
	</div>
{% endblock %}
