{% extends 'base.html.twig' %}

{% block body %}
	<div class='herobanner'>
		<h1>Voyager de manière conviviale et écologique</h1>
		<form class="recherche" action="/rechercher" method="GET">
			<input type="text" name="depart" id="depart" placeholder="Lieu de départ">
			<input type="text" name="arrive" id="arrive" placeholder="Lieu d'arrivée">
			<input type="date" name="date" id="date">
			<select name="nombre-personnes" id="nombre-personnes">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<!-- Ajoutez les autres options selon vos besoins -->
			</select>
			<button type="submit">Rechercher</button>
		</form>
	</div>
{% endblock %}
