.herobanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-image: url("../../public/img/herobanner.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 90vh;
    gap: 25vh;

    h1 {
        color: white;
        font-size: 85px;
        font-weight: bold;
        text-align: center;
    }

    .row {
        display: flex;
        justify-content: center;
        
    }

    .form-row {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .col-lg-3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 900px) {
        height: 100vh;

        h1 {
            color: white;
            font-size: 65px;
            font-weight: bold;
            text-align: center;
        }

        .col-lg-3, .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (max-width: 575px) {
        h1 {
            color: white;
            font-size: 45px;
            font-weight: bold;
            text-align: center;
        }

        .col-lg-3, .col-md-6, .col-sm-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}