.background-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../public/img/herobanner.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 90vh;


    .conteneur-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F4F4F4;
        min-width: 250px;
        max-width: 250px;
        min-height: 500px;
        max-height: 500px;
        border-radius: 90px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

        @media (max-width: 300px) {
            min-width: 90vw;
            max-width: 90vw;
            min-height: 90vh;
            max-height: 90vh;
        }

        .form-login {
            display: flex;
            flex-direction: column;
            gap: 1vh;
            margin-top: 5vh;

            .btn-submit,
            .input-login {
                border: 1px solid black;
                border-radius: 45px;
                box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
            }

            .btn-submit,
            .input-login::placeholder {
                text-align: center;
            }

            .btn-submit {
                background-color: #32B7D4;
            }
        }
    }
}