.trajetContainer {
    background-image: url("../../public/img/trajet_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    a {
        width: 30%;
        min-width: 300px;
    }
    .cardContainer {
        .card {
            width: 100%;
            padding: 10px;
            border-radius: 15px;
            box-shadow: 12px 12px 2px 1px rgba(8, 8, 8, 0.2);
            border: 1px solid #ccc;

            .card-body {
                .profil {
                    gap: 5px;
                }

                
            }
        }

        .card:hover {
            transform: scale(1.05);
        }
    }

    .profil-pic {
        width: 40px;
        height: 40px;
        border: 3px solid #32B7D4;
        border-radius: 90px;
    }
}

.price {
    margin-top: 20px;
}