.trajetContainer {
    background-color: #D9D9D9;

    .filtreContainer {
        width: 50vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .card-filter {
            position: fixed;
            width: 30%;
            height: 70vh;
            border-radius: 45px;
            box-shadow: 12px 12px 2px 1px rgba(8, 8, 8, 0.2);
            border: 1px solid #ccc;
        }

    }


    .cardContainer {
        width: 50vw;
        gap: 10px;

        .card {
            width: 80%;
            border-radius: 15px;
            box-shadow: 12px 12px 2px 1px rgba(8, 8, 8, 0.2);
            border: 1px solid #ccc;
        }
    }
}